<div class="forgot-password-container">
    <div class="forget-password-card">
      <h1>Forgot Password</h1>
  
      <!-- Display general error message if form is invalid after submission -->
  
      <form (ngSubmit)="forgetpassword()" [formGroup]="forgetPasswordForm">
        <!-- Username Field -->
        <div class="form-group">
          <label for="email">Password Resetting Link Will be sent to your email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Enter your email"
          />
        </div>
  
    
       
  
        <!-- Display error message if failed -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        


           <!-- Display success message if successful -->
           <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>
       
  
        <button type="submit" class="btn-primary">Forget</button>
      </form>
  
      <div class="extra-links">
        <a href="">Login</a>
        
      </div>
    </div>
  </div>
  