<div class="mat-card-container">
  <!-- Manager Dashboard Card (Displaying Alone at the Top) -->
  <mat-card class="manager-dashboard-card">
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"></div>
      <mat-card-title>Requester Dashboard</mat-card-title>
      <mat-card-subtitle>Overview of your tasks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Welcome to Requester dashboard! Here you can view assigned tasks and
        track progress.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="mat-card-container">
  <!-- Other Cards Below -->
  <mat-card class="mat-card" [routerLink]="['/requester/view-requester-tasks']"  >
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"> <fa-icon [icon]="faTasks" size="2x"></fa-icon></div>
      <mat-card-title>&nbsp; &nbsp; &nbsp;{{ totalTasksCreatedByRequester }}</mat-card-title>
      <mat-card-subtitle>Total tasks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>Description</p> -->
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" [routerLink]="['/requester/view-requester-tasks']" [queryParams]="{ filter: 'Completed' }">
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"> <fa-icon [icon]="faCheckSquare" size="2x"></fa-icon></div>
      <mat-card-title>&nbsp; &nbsp; &nbsp;{{ completedTasks }}</mat-card-title>
      <mat-card-subtitle>Completed Tasks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>Description</p> -->
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card" [routerLink]="['/requester/view-requester-tasks']" [queryParams]="{ filter: 'Assigned' }">
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"><fa-icon [icon]="faUserTag" size="2x"></fa-icon></div>
      <mat-card-title> &nbsp; &nbsp; &nbsp;{{ assignedTasks }}</mat-card-title>
      <mat-card-subtitle>&nbsp; Assigned tasks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>Description</p> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card" [routerLink]="['/requester/view-requester-tasks']" [queryParams]="{ filter: 'Pending' }">
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"><fa-icon [icon]="faHourglassHalf" size="2x"></fa-icon></div>
      <mat-card-title>&nbsp; &nbsp; &nbsp;{{ pendingTasks }}</mat-card-title>
      <mat-card-subtitle>Pending tasks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>Description</p> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card" [routerLink]="['/requester/view-requester-tasks']" [queryParams]="{ filter: 'Draft' }">
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"><fa-icon [icon]="faFileAlt" size="2x"></fa-icon></div>
      <mat-card-title>&nbsp; &nbsp;&nbsp;  {{ draftTasks }}</mat-card-title>
      <mat-card-subtitle>Draft tasks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
</div>
